<!DOCTYPE html>
<html>
  <head>
    <title>Playstore Applications</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="title text-center">
      <h1>
        Dataset for Developers
      </h1>
    </div>
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Developer Internal Id</th>
            <th>Developer Website</th>
            <th>Developer Email</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["developer_uid"]}}</td>
            <td>{{row["developer_website"]}}</td>
            <td>{{row["developer_email"]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
