{% extends "base.html" %}

{% block content %}

    <div class="text-center">
        <h1>Playstore Applications</h1>
        <p>Enjoy, rewrite Chinedu!</p>
    </div>
    <div class="text-center">
        <a href="{{ url_for('application') }}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Application Data</a>
        <a href="{{ url_for('developer') }}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Developer Data</a>
        <a href="{{ url_for('review') }}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Review Data</a>
    </div>

{% endblock %}
